@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Satoshi', sans-serif;
}

#main-container{
    
    background: rgb(255,220,239);
    background: linear-gradient(75deg, rgba(255,220,239,1) 0%, rgba(252,255,210,1) 42%, rgba(214,250,255,1) 81%);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;

}

#first-intro-box{
    max-width: 1100px;
    width: 100%;
    height: 600px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

#intro-pic{
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 100vh;
    overflow: hidden;

    & img{
        width: 100%;
        height:auto;
    }
}

#intro-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(186, 190, 131); */
    width: 300px;
    height: 100%;
    
}

#intro-text{
    /* background-color: rgb(196, 132, 22); */
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(35, 35, 35);

}

#intro-heading{
    margin-bottom: 30px;
    z-index: 10;
}

#intro-heading>strong{
    position: relative;
    
}

#intro-heading > strong::after{
    content:"";
    height:30px;
    border-radius: 100px;
    /* background-color: blue; */
    background-image: url('./underline-2.png');
    z-index: -1 !important; 
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    bottom:7.5px;

    left:-5px;
    right: -5px;
    /* width: 100%; */
}

#intro-text>p{
    margin-bottom: 20px;
    color: rgb(65, 65, 65);
}

#intro-text>h1{
    font-size: 4.5rem;
}

#intro-social-media{
    width: 100%;
    height: 50px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#intro-social-media > .social-media-icon{
    width: 50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(246, 159, 203);
    font-size: 32px;
    & :hover{
        color:hotpink;
        font-size: 33px;
        transition: font-size 0.1s;
    }
    /* background-color: red; */
}

#down-arrow{
    width:100px;
    height:75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: hotpink;
    /* background-color: yellow; */
    justify-self: flex-end;
}

.info-section{
    /* border: 2px solid red; */
    /* background-color: white; */
    max-width: 1050px;
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.is-label{
    /* background-color: red; */
    height: 100%;
    width: 25%;
    & h1{
        font-size: 3.5rem;
    }
}

#is-label-1{
    color: rgb(81, 187, 241);
}

#is-label-2{
    color: hotpink;
}

.is-content{
    height: 100%;
    width:65%;
    background-color: white;
    border-radius:30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 20px;
    & p{
        margin-left: 35px;
    }
}

.is-content-1{
    border: 4px solid rgb(81, 187, 241);
}

.is-content-2{
    border: 4px solid hotpink;
}

.is-heading{
    font-size: 30px;
    margin-bottom: 10px ;
    display: flex;
    align-items: center;
    
    & i {
        font-size: 15px;
        margin-right: 10px;
    }
}

.is-heading-1{
    color: hotpink;
}

.is-heading-2{
    color: rgb(81, 187, 241);
}

#top-nav-bar{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* gap:30px; */
    padding: 20px;
    height: 100%;
    overflow-y:scroll;
    /* background-color: brown; */
}

.encloser{
    width: 100%;
    /* height: 100%; */
    gap:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: blue; */
    padding: 10px;
}

#outro-pic{
    width: 100%;
    max-width: 1050px;
    height: 750px;
    background-color: red;
    border-radius: 30px;
    z-index: 1;
    position: relative;
    overflow: hidden;

}

#outro-pic::after{
    content: "I love to perform Folk dance.";
    font-size: 35px;
    font-weight: bold;
    color: white;

    padding: 30px;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:250px;
    background: linear-gradient(0deg, rgba(0,255,180,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 3;
}

#outro-pic::before{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:flex-end;
    font-size: 25px;
    padding: 30px;
    /* font-weight: bold; */
    color: white;
    content:"Folk dance is something which connects us to our roots, our culture, and we should be proud of it.";
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:250px;
    /* background-color: blue; */
    z-index: 3;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,255,180,0) 100%);
}
